body{
    background: black;
}


.header{
    background: center no-repeat url("/static/imgs/movieBanner.png");
    background-size: cover;
    height: 930px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 50;
    border-radius: 0 0 10px 10px;
}

.container{
    width: 80%;
    margin: 0 auto;
    color: white;
}

.description h1{
    font-family: 'Montserrat', cursive;
    font-size: 40px;
    color: white;
    padding-left: 15px;
}

.banner-rate{
    padding: 10px;
    gap: 5px;
}

.banner-rate img{
    padding: 5px;
}

.description p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    padding: 25px;
    padding-top: 0;
}

.header-btns a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 30px;
    width: 165px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.watch{
    background: #5436A9;
    font-family: 'Montserrat', cursive;
}
.my-list{
    background: #5C5C5C;
    font-family: 'Montserrat', cursive;
}

.category{
    margin-top: 50px;
    font-family: 'Montserrat', cursive;
}
.category-header{
    display: flex;
    justify-content: space-between;
}

.category-header h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: white;
}

.category-header a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 18px;
    text-transform: uppercase;

    background-color: #5436A9;
    border-radius: 18px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}

.category-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.movie{
    padding: 15px;
    width: 200px;
    height: 400px;
    margin: 30px 0;
    text-decoration: none !important;
    color: white;
}

.movie img{ 
    margin: 0 auto;
    border-radius: 5px 5px 5px 5px;
}

.movie h2{
    margin: 0;
    font-size: 22px;
    width: 100%;
    height: 46px;
    padding-top: 5px;
}

.movie-rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.movie-rate div{
    display: flex;
    gap: 5px;
    align-items: center;
}

.reccomended-btns a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 30px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Montserrat', cursive;
    background-color: #5436A9;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    padding: 7px;
}

.page-selector{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.page-selector-button a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    border: 3px solid #5436A9;
    border-radius: 7px;
    font-family: 'Montserrat', sans-serif;
}

.page-selector-button a.active{
    background-color:#5436A9 ;
}